---
const { tags: tagsOjbect } = Astro.props;

const tags = tagsOjbect.map(tag => tag.slug);

let title,
  description,
  link = "",
  image = null;
if (tags.includes("testing")) {
  title = 'React Testing Library Crash Course';
  description = 'React Testing Library Crash Course: Learn to Test React Components takes you on a hands-on, practical journey to mastering component testing in React. From setting up your testing environment to tackling advanced scenarios, every chapter is written in a bite-sized, actionable style.';
  link = 'https://a.co/d/dyQ91Fw';
  image = 'assets/covers/rtl-crash-course.jpg';
} else if (tags.includes("nextjs") || tags.includes("supabase")) {
  title = "Building Cloud-Based PWAs with Supabase, React & TypeScript";
  description =
    "Learn how to build modern PWAs backed by cloud services like Supabase, using React and TypeScript. The book covers PWA development fundamentals and deploying a cloud-based backend.";
  link = "https://a.co/d/f2XsiSG";
  image = 'assets/covers/supabase.jpg';
} else if (tags.includes("openai") || tags.includes("typescript")) {
  title = "Generative AI with React JS: Build and Deploy Powerful AI Apps";
  description =
    "Learn how to leverage the OpenAI API in React to create advanced generative AI applications. Throughout the book, you'll cover topics like generating text, speech post-processing, building a social media companion app, and deploying the final application.";
  link = "https://a.co/d/9jnHQGe";
  image = 'assets/covers/openai.jpg';
} else if (
  tags.includes("reactjs") ||
  tags.includes("hooks") ||
  tags.includes("reacthooks")
) {
  title = "Custom React Hooks Crash Course: Learn Hooks Through 6 Apps";
  description =
    "Learn how to create custom React hooks to manage state, handle side effects, and make API calls. Gain a type-safe approach by incorporating custom React hooks in TypeScript to build scalable and maintainable front-end applications.";
  link = "https://www.udemy.com/course/custom-react-hooks-crash-course";
}
---

{
  title && (
    <div class="card mt-8 border border-orange-600 p-4 flex flex-row">
      <div class="prose flex flex-col">
        <h2 class="2xl">{title}</h2>
        <p class="grow">{description}</p>
        <a href={link}>Learn More</a>
      </div>
      {image && (
        <div class="flex justify-center items-center">
          <img src={image} alt={title} class="h-full w-full object-contain" />
        </div>
      )}
    </div>
  )
}
